.schoolone-main-layout__header {
	border: 2px dashed var(--ant-color-primary);

	h1 {
		width: fit-content;
		margin: 0 auto;
		color: var(--ant-color-primary-text);
	}
}

.schoolone-main-layout__content {
	border: 2px dashed var(--ant-color-info);
	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		width: fit-content;
		color: var(--ant-color-info-text);
	}
}
